body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
}

.container nav {
    background-color: #000;
    opacity: 0.9;
}

.container nav ul li {
    display: inline-block;
}

.container a {
    text-decoration: none;
    color: #fff;
    padding: 45px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.header {
    background:rgba(0, 0, 0, 0.7) url(pozadina.jpg) no-repeat center;
    background-blend-mode: darken;
    background-size: cover;
    min-height: 600px;
    margin-top: 60px;
}

.sec {
    width: 300px;
    height: 520px;
    opacity: 0.9;
    background-color: #000;
    padding: 55px;
    color: #fff;
    text-align: center;
}

.container ul li a:hover {
    color: #ff2c2c;
    box-shadow: inset 0px 30px #ff2c2c;
}

li a.active {
    box-shadow: inset 0px 30px #ff2c2c;  
}

.contimg img {
    width: 250px;
    height: 250px;
}

.contimg1 img {
    width: 250px;
    height: 250px;
}

.contimg2 img {
    width: 250px;
    height: 250px;
}

.contimg3 img {
    width: 250px;
    height: 250px;
}

.cont {
    color: #fff;
    text-transform: uppercase;
}

body {
    background-color: #191919;
}

.text {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.kategorije{
    width: 100%;
    padding: 100px 0px;
}

.row {
    column-count: 4 ;
    column-width: 300px;
    text-align: center;
    color: #fff;
}

.row img {
    border-radius: 90%;
    align-items: center;
}

.contimg img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.contimg1 img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.contimg2 img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.contimg3 img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.slike h3 {
    text-transform: capitalize;
}

.info {
    background-color: #000;
}

.tekst img {
    width: 400px;
    height: 450px;
}

.tekst {
    width: 100%;
    padding: 100px 0px;
    color: #fff;
}

.about-me {
    width: 550px;
    font-size: large;
}

.tekst {
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me h2 {
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.galerija {
    width: 100%;
}

.galerija{
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 600px) {
.container nav {width: 100vw; height: 60px; font-size: 15px;}
.container {width: 100vw;}
.container a {padding:7px;}
.container ul li a:hover {color: #ff2c2c; box-shadow: unset;}
.sec {width: 200px;}
.sec p {font-size: 20px;}
.kategorije {width: 100vw; padding: 0vw}
.text h2 {font-size: 30px;}
.row {display: inline-block; width: 100vw;}
.slike img {width: 200px; height: 200px;}
.slike {display: block; margin: auto;}
.info {width: 100vw;}
.tekst {display: inline-block; align-items: center; justify-content: center;}
.tekst img { width: 200px; height: 200px; display: block; margin: auto;}
.about-me {width: 100vw;}
.about-me h2 { font-size: 45px;}
.about-me {text-align: center;}
.tekst1 { font-size: 17px; width: 55vw; text-align: center; margin-left: 25vw;}
}

@media only screen and (max-width: 844px) and (min-width: 601px) {
    .container nav {width: 100vw; height: 60px; font-size: 15px;}
    .container {width: 100vw;}
    .sec {width: 200px;}
    .kategorije {width: 100vw; padding: 0vw}
    .text h2 {font-size: 30px;}
    .row {display: inline-block; width: 100vw;}
    .slike img {width: 200px; height: 200px;}
    .slike {display: block; margin: auto;}
    .info {width: 100vw;}
    .tekst {display: inline-block; align-items: center; justify-content: center;}
    .tekst img { width: 200px; height: 200px; display: block; margin: auto;}
    .about-me {width: 100vw;}
    .about-me h2 { font-size: 45px;}
    .about-me {text-align: center;}
    .tekst1 { font-size: 17px; width: 55vw; text-align: center; margin-left: 25vw;}
    }